asgiref==3.2.9
autopep8==1.5.3
beautifulsoup4==4.9.1
bootstrap4==0.1.0
certifi==2020.4.5.2
chardet==3.0.4
dj-database-url==0.5.0
Django==3.0.7
django-bootstrap4==2.0.1
django-heroku==0.3.1
flake8==3.8.3
gunicorn==20.0.4
idna==2.9
mccabe==0.6.1
mysql-connector-python==8.0.20
protobuf==3.12.2
psycopg2==2.8.5
pycodestyle==2.6.0
pyflakes==2.2.0
pytz==2020.1
requests==2.23.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.25.9
whitenoise==5.1.0
