{% extends "base_admin.html" %}
{% load static %}
{% load bootstrap4 %}
{% block section_one %}
<h4><p class="text-white-75 font-weight-light mb-5">Ajouter un nouveau utilisateur</p></h4>
<form action="" method="post" class="was-validated border border-primary bg-light mb-2 justify-content-center">
  <div class="form-group">
      {% csrf_token %}
      {% bootstrap_form form form_group_class='form-group m-2' %}
  </div>
  {% buttons %}
    <button type="submit" class="btn btn-primary d-flex m-3" name="login">Ajouter</button>
  {% endbuttons %}
</form>
{% endblock %}
{% block section_two %}
<h4><p class="text-white-75 font-weight-light mb-5" name="titre_user">Les utilisateurs actuellement enregistrés</p></h4>
{% if messages %}
        {% for message in messages %}
          <p class="text-warning" id='msgEtape'>{{ message }}</p>
        {% endfor %}
{% endif %}
<table class="table table-info table-responsive-sm table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Identifiant</th>
      <th scope="col">Courriel</th>
      <th scope="col">Actif ?</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in resultat %}
    {% if not item.is_staff %}
      <tr>
        <td>{{ item.username }}</td>
        <td>{{ item.email }}</td>
        {% if item.is_active %}
        <td class="text-success"><b>OUI</b></td>
        {% else %}
        <td class="text-danger"><b>NON</b></td>
        {% endif %}
        {% if item.Compte_Valider.etat.id == 1 %}
        <td><div class="row justify-content-start"><a role="button" class="btn btn-sm btn-outline-info text-success" href=#>Ce compte attente de validation</a></div></td>
        {% elif item.Compte_Valider.etat.id == 2 %}
        <td><div class="row justify-content-start"><a role="button" class="btn btn-sm btn-outline-info text-success" href="/admin_page/viewUser/edit/{{item.id}}/">Ce compte est validé : Edition possibles </a></div></td>
        {% else %}
        <td><div class="row justify-content-start"><a role="button" class="btn btn-sm btn-outline-secondary" href="/admin_page/viewUser/edit/{{item.id}}/">EDITER</a><div id="supprUser" class="col-4"><a role="button" class="btn btn-sm btn-outline-secondary" value="{{item.id}}">SUPPR.</a></div></div></td>
        {% endif %}
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
