{% extends "base_admin.html" %}
{% load static %}
{% load bootstrap4 %}
{% block section_one %}
{% if user.is_staff or "Administrateur service" in request.session.groups %}
<h4><p class="text-white-75 font-weight-light mb-5">Ajouter une étape</p></h4>
<form action="" method="post" class="was-validated border border-primary bg-light mb-2 justify-content-center">
  <div class="form-group">
      {% csrf_token %}
      {% bootstrap_form form form_group_class='form-group m-2' %}
  </div>
  {% buttons %}
    <button type="submit" class="btn btn-primary d-flex m-3" name="login">Ajouter</button>
  {% endbuttons %}
</form>
{% endif %}
{% endblock %}
{% block section_two %}
<h4><p class="text-white-75 font-weight-light mb-5" name="titre_TabEtape">Indiquer les étapes des etudes</p></h4>
{% if messages %}
        {% for message in messages %}
          <p class="text-warning" id='msgEtape'>{{ message }}</p>
        {% endfor %}
{% endif %}
<table class="table table-info table-responsive-sm table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nom de l'étape</th>
      <th scope="col">Etude liée</th>
      {% if user.is_staff or "Administrateur service" in request.session.groups %}
      <th scope="col">Action</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    <h3>{{ resultat }}</h3>
    {% for item in resultat %}
      <tr>
        <td>{{ item.nom }}</td>
        {% if not item.etude.id >= 1 %}
        <td>{% for area in item.etude.all %}{{ area }}<br/>{% endfor %}</td>
        {% else %}
        <td>{{ item.etude }}</td>
        {% endif %}
        {% if user.is_staff or "Administrateur service" in request.session.groups %}
        <td><div class="row justify-content-center"><a role="button" class="btn btn-sm btn-outline-secondary" href="/admin_page/etapes/edit/{{item.id}}">EDITER</a><div id="supprEtape" class="col-4"><a role="button" class="btn btn-sm btn-outline-secondary" value="{{item.id}}">SUPPR.</a></div></div></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
