{% extends "base_admin_stat.html" %}
{% load static %}
{% load bootstrap4 %}
{% block section_two %}
<div class="row col-12">
 <p>[{{tab_dossier.etude}}] id_patient : {{tab_dossier.id}}</p><a href="/admin_page/upfiles/downAll/{{ tab_dossier.lien }}" download><span button type="button" class="btn btn-primary">Télécharger le dossier</span></a>
</div>
<table class="table table-info table-responsive-sm table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nom du fichier</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in resultat %}
      <tr>
        <td>{{ item.nom }}</td>
        <td><a href="/admin_page/upfiles/downOnce/{{ item.url }}"><span button type="button" class="btn btn-primary">Télécharger</span></a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
