{% extends "base_admin_2tab.html" %}
{% load static %}
{% load bootstrap4 %}
{% block section_one %}
<h4><p class="text-white-75 font-weight-light mb-5" style="margin-left: 15px;">Ajouter des autorisations</p></h4>
<form action="" method="post" style="margin-left: 15px;" class="was-validated border border-primary bg-light mb-2 justify-content-center">
  <div class="form-group">
      {% csrf_token %}
      {% bootstrap_form form form_group_class='form-group m-2' %}
  </div>
  {% buttons %}
    <button type="submit" class="btn btn-primary d-flex m-3" name="login" href="/admin_page/userAuth/edit/{{user.id}}/">Modifier</button>
  {% endbuttons %}
  <a href="{% url 'admin_etude' %}">Fermer sans modification</a>
</form>
{% endblock %}
{% block aside_1 %}
<h4><p class="text-white-75 font-weight-light mb-5">Les études liées à l'utilisateur : {{user_info.username}}</p></h4>
<h6><p class="text-warning font-weight-light mb-5" id="message"></p></h6>
<table class="table table-info table-responsive-lg">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nom de l'étude</th>
      <th scope="col">Date d'ouverture</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody id='etude_tab'>
    {% for item in etude %}
      <tr>
        <td>{{ item.etude.nom }}</td>
        <td>{{ item.etude.date_ouverture }}</td>
        <td value="{{user.id}}" name="etude"><button role="button" class="btn btn-sm btn-outline-secondary" name="clikable" value="{{item.id}}">Supprimer l'attribution</button></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block aside_2 %}
<h4><p class="text-white-75 font-weight-light mb-5">Les centres liées à l'utilisateur : {{user_info.username}}</p></h4>
<table class="table table-info table-responsive-sm ">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nom du centre</th>
      <th scope="col">Numéro du centre</th>
      <th scope="col">Date d'ajout</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody id='centre_tab'>
    {% for item in centre %}
      <tr>
        <td>{{ item.nom }}</td>
        <td>{{ item.numero }}</td>
        <td>{{ item.date_ajout }}</td>
        <td value="{{user.id}}" name="centre"><button role="button" class="btn btn-sm btn-outline-secondary" name="clikable" value="{{item.id}}">Supprimer l'attribution</button></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
