{% extends "base_admin.html" %}
{% load static %}
{% load bootstrap4 %}
{% block section_one %}
<div class="bg-light">
<h4><p class="text-white-75 font-weight-light mb-5">Ajouter une étude à votre base de donnée</p></h4>
<p> Sélectionner une utilisateur pour lui attribuer des autorisations spécifiques sur les études ou lui attribuer un centre</p>
</div>
{% endblock %}
{% block section_two %}
<h4><p class="text-white-75 font-weight-light mb-5">Vos études actuellement enregistrées</p></h4>
<table class="table table-info table-responsive-sm table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Utilisateur</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in resultat %}
    {% if not item.is_superuser %}
      <tr>
        <td>{{ item.username }}</td>
        <td><a role="button" class="btn btn-sm btn-outline-secondary" href="/admin_page/userAuth/edit/{{item.id}}/">Modifier les autorisations</a></td>
      </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
