{% extends "base_admin_stat.html" %}
{% load static %}
{% load bootstrap4 %}
{% block section_two %}
<div class="row col-12">
  <div class="container">
    <div class="row d-flex justify-content-center"> 
        <span><h3 class="titre_etude">Suivi des études</h3></span>
    </div>
    <div class="row d-flex justify-content-center">
      <span>Tableau récapitulatif des étapes pour chaque dossier chargé dans le système</span> 
    </div>
  </div>
  <form>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      {% csrf_token %}
      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Classer par etude</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        {% for centre in str_centre %}
        <option value="{{centre.id}}">{{centre.nom}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-auto my-1">
      <label class="mr-sm-2 sr-only" for="FormCustomSelect">Indiquer le centre</label>
      <select name="select_etude" class="custom-select mr-sm-2" id="FormCustomSelect">
        {% for etude in str_etude %}
        <option name="select_{{etude.nom}}" value="{{etude.id}}" {{etude.option}}>{{etude.nom}}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  </form>
</div>
{% if taille != 0 %}
<table class="table table-info table-responsive-sm table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">QC</th>
      <th scope="col">ID patient</th>
      <th scope="col">Nbr de fichiers</th>
      {% for item in dict_nbr.nom_etape %}
      <th scope="col">{{item}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for item in resultat %}
      <tr value="{{item.id_}}">
        {% if 'passed' in item.Etudes %}
        <td name="{{ item.Etudes_id }}" class="click_qc" id="qc_mod"><h5><span class="badge badge-success">{{ item.Etudes }}</span><h5></td>
        {% else %}
        <td name="{{ item.Etudes_id }}" class="click_qc" id="qc_mod_{{ item.Etudes_id }}{{item.id_}}"><h5><span class="badge badge-warning">{{ item.Etudes }}</span><h5></td>
        {% endif %}
        <td><a href="/admin_page/upfiles/dospat/{{ item.id_ }}/"><h5><span class="badge badge-secondary">{{ item.id }}</span></h5></td>
        <td>{{ item.nbr_upload }}</td>
        {% if item.error == True %}
        <td colspan="{{dict_nbr.nbr_etape}}">{{ item.etape_etude.Aucune_etape }}</td>
        {% else %}
        {% for etape in item.etape_etude %}
        {% if etape.block %}
        <td name="{{ etape.val_item }}" id="modif_{{item.id_}}{{ etape.val_id }}" value="{{ etape.val_id }}">{{ etape.val_item }}</td>
        {% else %}
        <td class="clickable" name="{{ etape.val_item }}" id="modif_{{item.id_}}{{ etape.val_id }}" value="{{ etape.val_id }}">{{ etape.val_item }}</td>
        {% endif %}
        {% endfor %}
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<span>Aucun fichier n'est chargé dans l'application</span>
{% endif %}
{% endblock %}
