{% extends "base_admin_stat.html" %}
{% block section_two %}
{% load static %}
<div class="row col-12">
  <div class="container">
    <div class="row d-flex justify-content-center"> 
        <span><h3 class="titre_etude">Suivi des études</h3></span>
    </div>
    <div class="row d-flex justify-content-center">
      <span>Tableau récapitulatif des étapes pour chaque dossier chargé dans le système</span> 
    </div>
  <br/>
  </div>
      <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Envoyer">
      </form>
  <div>
  </div>  
{% if nbr_entree != 0 %}
<table id="tableau_etats" class="table table-info table-responsive-sm table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">QC</th>
      <th scope="col">ID patient</th>
      <th scope="col">Date d'examen</th>
      <th scope="col"></th>
      {% for nom_etape in nbr_noms_etape.nom_etape %}
        <th scope="col">{{ nom_etape }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for item in resultat %}
      <tr value="{{item.suivi_upload_id}}">
        {% if item.qc_nom == 'QC passed' %}
          <td name="{{ item.qc_id }}" class="click_qc" id="qc_mod_{{ item.qc_id }}{{item.suivi_upload_id}}"><h5><span class="badge badge-success">{{ item.qc_nom }}</span><h5></td>
        {% elif item.qc_nom == 'QC refused - GDPR' %}
          <td name="{{ item.qc_id }}" class="click_qc" id="qc_mod_{{ item.qc_id }}{{item.suivi_upload_id}}"><h5><span class="badge badge-danger">{{ item.qc_nom }}</span><h5></td>
        {% else %}
          <td name="{{ item.qc_id }}" class="click_qc" id="qc_mod_{{ item.qc_id }}{{item.suivi_upload_id}}"><h5><span class="badge badge-warning">{{ item.qc_nom }}</span><h5></td>
        {% endif %}
          <td><a href="/admin_page/upfiles/dospat/{{ item.suivi_upload_id }}/"><h5><span class="badge badge-secondary">{{ item.id_patient }}</span></h5></td>
        {% if item.error == True %}
          <td colspan="{{ nbr_noms_etape.nbr_etape }}">{{ item.etape_etude.Aucune_etape }}</td>
        {% else %}
          <td name="{{ item.date_examen }}">{{ item.date_examen|date:"Y-m-d" }}</td>
          <td>
            <a href="" onclick="window.open('{% url 'demande_info' suivi_upload=item.suivi_upload_id  %}', 'newwindow', 'width=600, height=600'); return false;" id="demande_info" class="btn btn-secondary btn-sm">Demande d'informations</a>
          </td>
        </td>
        {% for etape in item.etape_etude %}
          {% if etape.en_cours_d_informations %}
            <td name="{{ etape.val_item }}" id="modif_{{ item.suivi_upload_id }}{{ etape.etape_id }}" value="{{ etape.etape_id }}">{{ etape.val_item }}</td>
          {% else %}
            <td class="clickable" name="{{ etape.val_item }}" id="modif_{{ item.suivi_upload_id }}{{ etape.etape_id }}" value="{{ etape.etape_id }}">{{ etape.val_item }}</td>
          {% endif %}
        {% endfor %}
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<span>Aucun fichier n'est chargé dans l'application</span>
{% endif %}
{% endblock %}
