{% extends "base_admin.html" %}
{% load static %}
{% load bootstrap4 %}
{% block section_one %}
<h4><p class="text-white-75 font-weight-light mb-5">Ajouter un nouveau utilisateur</p></h4>
<div>
<form action="" method="post" class="was-validated border border-primary bg-light mb-2 justify-content-center">
  <div class="form-group">
      {% csrf_token %}
      {% bootstrap_form form form_group_class='form-group m-2' %}
  </div>
  {% buttons %}
    <button type="submit" class="btn btn-primary d-flex m-3" name="login" href="/admin_page/viewUser/edit/{{item.id}}/">Modifier</button>
  {% endbuttons %}
  <a href="{% url 'admin_utilisateur' %}">Fermer sans modification</a>
</form>
</div>
{% endblock %}
{% block section_two %}
<h4><p class="text-white-75 font-weight-light mb-5">Les utilisateurs actuellement enregistré</p></h4>
<table class="table table-info table-responsive-sm table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Identifiant</th>
      <th scope="col">Courriel</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in resultat %}
    {% if not item.is_superuser %}
      <tr>
        <td>{{ item.username }}</td>
        <td>{{ item.email }}</td>
        {% ifnotequal select item.id %}
        <td><a role="button" class="btn btn-sm btn-outline-secondary" href="/admin_page/viewUser/edit/{{item.id}}/">EDITER</a></td>
        {% else %}
        <td><a role="button" class="btn btn-sm btn-outline-secondary"> En cours de modification...</a></td>
        {% endifnotequal %}
      </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endblock %}
