{% extends "base_admin_stat.html" %}
{% load static %}
{% load bootstrap4 %}
{% block section_two %}
<div class="row col-12 mt-5 mb-5 d-flex">
  <table class="table table-responsive-sm ">
    <tbody>
      <tr>
        <td><a href="/admin_page/upfiles/tris/{{ tab_dossier.id_etude }}" id="id_etude" name="{{ tab_dossier.id_etude }}"><img src="{% static 'images/icons/back_arrow.png' %}" style="max-width: 10%;height: auto;" /></a><td>
        <td id="value_nom" name="{{tab_dossier.id}}"><h2>{{tab_dossier.id}}</h2><td>
        <td><a href="/admin_page/upfiles/downAll/{{ tab_dossier.lien }}" download><span button type="button" class="btn btn-primary">Télécharger le dossier</span></a></td>
      </tr>
    </tbody>
  </table>
</div>
<table class="table table-info table-responsive-sm table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nom du fichier</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody id='walk_tab'>
    {% for item in resultat %}
      <tr>
        {% if item.dir %}
          <td><a name="{{ item.url }}" id="walk_dir">Dossier : {{ item.nom }}</a></td>
          <td>Nombre de fichiers {{ item.file }}</td>
          <td>Nombre de dossiers {{ item.direct }}</td>
        {% else %}
          <td>{{ item.nom }}</td>
          <td><a href="/admin_page/upfiles/downOnce/{{ item.url }}"><span button type="button" class="btn btn-primary">Télécharger</span></a></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
