{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

  {% include "include_head.html" %}
  <body id="ajax">

    <div class="container-fluid xl-12">
      <header class="row">
        <div class="col-lg-12">
    {% include "include_menus.html" %}
        </div>
      </header>


      <div class="row justify-content-center">
        <div class="col-2 d-flex align-items-stretch">
        {% include "include_menus_admin.html" %}
        </div>
        <section class="col-offset-2 col-lg-10 col-md-8 col-sm-6">
          Section
          <div class="row">
            <article class="col-lg-4">
              {% block section_one %}
              {% endblock %}
            </article>
            <article class="col-lg-8">
              {% block section_two %}
              {% endblock %}
            </article>
          </div>
        </section>
      </div>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ICAN 2020</p>
      </div>
    </footer>

    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/custom_script.js' %}"></script>
    <script src="{% static 'js/custom_script_etape.js' %}"></script>
    <script src="{% static 'js/custom_script_centre.js' %}"></script>
    <script src="{% static 'js/custom_script_user.js' %}"></script>
    <script src="{% static 'js/custom_script_menu_admin.js' %}"></script>
  </body>

</html>
