{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en" style="min-height: 100vh;">

  {% include "include_head.html" %}
  <body id="ajax" style="min-height: 100vh;">
    {% include "include_menus.html" %}

    <div class="container col-12" style="padding:0px;margin:0px;min-height: 100vh;">
      <div class="row d-flex">
        <div class="col-1">
        {% include "include_menus_admin.html" %}
        </div>
        <div class="col-11">
          <div class="row-fluid d-flex">
            <div class="col-3">
              {% block section_one %}
              {% endblock %}
            </div>
            <div class="col-9">
              {% block section_two %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
        <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ICAN 2020</p>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/custom_script.js' %}"></script>
    <script src="{% static 'js/custom_script_etape.js' %}"></script>
    <script src="{% static 'js/custom_script_centre.js' %}"></script>
    <script src="{% static 'js/custom_script_user.js' %}"></script>
    <script src="{% static 'js/custom_script_menu_admin.js' %}"></script>
    <script src="{% static 'js/custom_script_doc.js' %}"></script>
    <script src="{% static 'js/custom_centre_del.js' %}"></script>
  </body>

</html>
