{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
      {% block cadre_master %}
      <section class="page-section cta">
        <div class="row text-center">
          <div class="container">
            <h5 class="display-3">Contacts</h5>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row text-center">
            <div class="col-4 mx-auto">
              <form action="/contact/edit/{{select}}/" method="post" class="was-validated border border-primary bg-light mb-2 mt-2 justify-content-center">
                <div class="form-group">
                  {% csrf_token %}
                  {% bootstrap_form form form_group_class='form-group m-2' %}
                </div>
                {% buttons %}
                  <button type="submit" class="btn btn-primary d-flex m-3" name="login">Ajouter</button>
                {% endbuttons %}
              </form>
            </div>  
            <div class="col-7 mx-auto">
              <div class="cta-inner text-center rounded">
                <table class="table mt-5">
                  <thead>
                    <tr>
                      <th scope="col">Prénom</th>
                      <th scope="col">Nom</th>
                      <th scope="col">Courriel</th>
                      <th scope="col">Téléphone</th>
                      <th scope="col">Poste</th>
                      {% if user.is_staff %}
                      <th scope="col">Actions</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% if resultat %}
                    {% for item in resultat %}
                    <tr>
                      <td>{{ item.prenom }}</td>
                      <td>{{ item.nom }}</td>
                      <td>{{ item.courriel }}</td>
                      <td>{{ item.telephone }}</td>
                      <td>{{ item.poste }}</td>
                      {% if user.is_staff %}
                      <td><div class="row justify-content-center">
                        {% if item.id == select %}
                        <a role="button" class="btn btn-sm btn-outline-secondary">En cours d'édition...</a>
                        {% else %}
                        <a role="button" class="btn btn-sm btn-outline-secondary" href="/contact/edit/{{item.id}}/">EDITER</a>
                        {% endif %}
                        <div id="supprCentre" class="col-4"><a role="button" class="btn btn-sm btn-outline-secondary" href="/contact/deleted/{{item.id}}/">SUPPR.</a></div></div></td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>Aucune données renseigné</tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    {% endblock %}
        {% block cadre_footer %}
        <p class="m-0 text-center text-white">Copyright &copy; ICAN 2020</p>
        {% endblock %}
