{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

  {% include "include_head.html" %}
  <body>
    <!-- Navigation -->
    {% include "include_menus.html" %}
    <!-- Page Content -->
    <div class="container col-12" style="padding:0px;margin:0px;min-height: 100vh;">
      <!-- Page Features -->
      <section class="page-section cta">
        <div class="row text-center">
          <div class="container">
            <h5 class="display-3" name='titre_form'>Formulaire d'upload</h5>
            {% if messages %}
              {% for message in messages %}
                <h5 class="text-success" id='msgEtape'>{{ message }}</h5>
              {% endfor %}
            {% endif %}
            <p class="lead">Il vous est demandé de renseigner tous les champs disponibles</p>
          </div>
        </div>
        <div class="container">
          <div class="row text-center" id="divprogress" style="display: none;">
          <div class="d-flex justify-content-center mx-auto col-5" >
            <div class="col-10 mb-1">
              <div class="card ml-1">
                <div class="col-6 mx-auto mt-2">
                  <img class="card-img-top" src="{% static 'images/ajax-loader.gif' %}" width="" height="auto" alt="">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Votre envois est en cours</h4>
                  <p class="card-text">Merci de patienter.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="row text-center border-top border-bottom">
            <div class="col-xl-9 mx-auto border-top border-primary" style="margin-top: 10px">
              <div class="cta-inner text-center" >
                <form action="{% url 'formulaire' %}" style="padding-top: 15px;" method="post" class="was-validated login100-form validate-form" enctype="multipart/form-data" name="form_upload">
                  <div class="wrap-input100 validate-input m-b-26">
                    <ul>
                      {% csrf_token %}
                      {% bootstrap_form form layout='horizontal' %} 
                    </ul>
                  </div>
                  {% buttons %}
                    <input onclick="JSconfirm();" type="button" class="btn btn-primary" name="login" href="" value="Valider"></input>
                  {% endbuttons %}
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ICAN 2022</p>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript">
      function JSconfirm(){
        swal({
          title: "RGPD",
          text: "Cette application a pour but de stocker des données de recherche. Pour cela elle doit respecter la RGPD et les directives législatives en vigueur. En validant, vous vous engagez à ne charger via cette application uniquement des images pseudo-anonymisées",
          icon: "warning",
          buttons: ["Refuser", "Accepter"],
          dangerMode: true,
        })
      .then((willDelete) => {
        if (willDelete) {
          swal("Votre chargement est accepté", {
          icon: "success",
          });
          let progress = document.getElementById('progressbar')
          if(getComputedStyle(divprogress).display != "none"){
            divprogress.style.display = "none";
          } else {
            divprogress.style.display = "block";
          }
          document.forms.form_upload.submit();
        } else {
          swal("Votre chargement est annulé");
        }
      });

      }

</script>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>

</html>
