{% load static %}
{% load bootstrap4 %}

<nav class="nav bg-secondary">
  <ul class="navbar-nav flex-column text-dark m-2">
    <li class="nav-item">
      <a class="nav-link text-warning" href="{% url 'admin' %}">Tableau récapitulatif</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" href="{% url 'admin_etude' %}">Ajouter des études</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" href="{% url 'admin_etape' %}">Création des étapes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" href="{% url 'admin_centre' %}">Ajouter un centre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" href="{% url 'admin_autorisation' %}">Autorisation des utilisateurs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" href="{% url 'admin_utilisateur' %}">Ajouter un utilisateur</a>
    </li>
  </ul>
</nav>
