{% load static %}
{% load bootstrap4 %}

<nav class="nav bg-secondary" style="min-height: 100vh;position: fixed;">
  <ul class="navbar-nav flex-column text-dark ml-1 mr-1">
    <li class="nav-item active">
      <a class="nav-link text-warning" id="menuRecap" href="{% url 'admin' %}">Récapitulatif</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link text-warning" id="menuRecap" href="{% url 'admin_upload' %}">Suivi des études</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" id="menuEtudes" href="{% url 'admin_etude' %}">Ajouter des études</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" id="menuEtapes" href="{% url 'admin_etape' %}">Création des étapes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" id="menuCentres" href="{% url 'admin_centre' %}">Ajouter un centre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" id="menuUserAuth" href="{% url 'admin_autorisation' %}">Autorisation des utilisateurs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" id="menuUser" href="{% url 'admin_utilisateur' %}">Ajouter un utilisateur</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" id="menuUser" href="{% url 'gestion' %}">Gestion documentaire</a>
    </li>
  </ul>
</nav>
