{% load static %}
{% load bootstrap4 %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Upload ICAN</title>

  <link rel="icon" type="image/png" href="{% static 'images/icons/favicon-3.ico' %}"/>
  <!-- Bootstrap core CSS -->
  <!-- <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"> -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Custom styles for this template -->
  <!-- <link href="{% static 'css/main_css.css' %}" rel="stylesheet" type="text/css"> -->  

</head>