{% load static %}
{% load bootstrap4 %}

<nav class="nav bg-secondary" style="min-height: 100vh;position: fixed;">
  <ul class="navbar-nav flex-column text-dark ml-1 mr-1">
    {% if user.is_staff or "Administrateur service" in request.session.groups %}
    <li class="nav-item">
      <a class="nav-link text-warning" id="menuUser" href="{% url 'admin_utilisateur' %}">Ajouter un utilisateur</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" id="menuUserAuth" href="{% url 'admin_autorisation' %}">Droits des utilisateurs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" id="menuAuthCompte" href="{% url 'auth_compte' %}">Validation des comptes</a>
    </li>
    <li class="nav-item"><p>--------------------------</p></li>
    {% endif %}
    {% if user.is_superuser or "Administrateur service" in request.session.groups %}
    <li class="nav-item">
      <a class="nav-link text-warning" id="menuEtudes" href="{% url 'admin_etude' %}">Ajouter des études</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" id="menuEtapes" href="{% url 'admin_etape' %}">Création des étapes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" id="menuCentres" href="{% url 'admin_centre' %}">Ajouter un centre</a>
    </li>
    <li class="nav-item"><p>--------------------------</p></li>
    {% endif %}
    {% comment %} {% if "URC" in request.session.groups%}
    <li class="nav-item">
      <a class="nav-link text-warning" id="menuEtudes" href="{% url 'admin_etude' %}">Consulter les études</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" id="menuEtapes" href="{% url 'admin_etape' %}">Voir les étapes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" id="menuCentres" href="{% url 'admin_centre' %}">Voir les centres</a>
    </li>
    {% endif %} {% endcomment %}
    <li class="nav-item"><p>--------------------------</p></li>
    {% if not user.is_staff or user.is_superuser or "URC" in request.session.groups %}
    <li class="nav-item active">
      <a class="nav-link text-warning" id="menuRecap" href="{% url 'admin' %}">Récapitulatif</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link text-warning" id="menuSuiviEtude" href="{% url 'admin_upload' %}">Suivi des études</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-warning" id="menuDoc" href="{% url 'gestion' %}">Gestion documentaire</a>
    </li>
    {% endif %}
  </ul>
</nav>
