{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block cadre_master %}
<header class="jumbotron my-4 text-center">
  <h1 class="display-3" id='info_log'>Bienvenue {{ user.username }} !</h1>
  <p class="lead">Plateforme d'upload du service d'imagerie ICAN. Cette page est la pour une place d'information vis à vis des utilisateurs.</p>
</header>
{% endblock %}
{% block cadre_news %}
{% for item in response %}
<div class="col-3 mb-1">
  <div class="card h-100 ml-1">
    <img class="card-img-top" src="{% static item.background %}" alt="">
    <div class="card-body">
      <h4 class="card-title">{{item.titre}}</h4>
      <p class="card-text">{{item.description}}</p>
    </div>
    <div class="card-footer">
      <a href="/doc/downOnce/{{item.id}}" class="btn btn-primary" >Télécharger le document</a>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
{% block cadre_footer %}
  <p class="m-0 text-center text-white">Copyright &copy; ICAN 2020</p>
{% endblock %}