{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
{% include "include_head.html" %}
  <body>
    <!-- Navigation -->
    {% include "include_menus.html" %}
    <!-- Page Content -->
    <div class="container">
      <!-- Jumbotron Header -->
      <header class="jumbotron my-4 text-center">
      <h1 class="display-3">Bienvenu sur ICAN upload !</h1>
      <p class="lead">Plateforme d'upload du service d'imagerie ICAN. Cette page est la pour une place d'information vis à vis des utilisateurs.</p>
      </header>
      <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
            <div class="card-body">
              <h4 class="card-title">Nouvelle !</h4>
              <p class="card-text">On peut faire apparaitre une news résumé ici</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Se rendre sur la news</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ICAN 2020</p>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>
