{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<!DOCTYPE html>
<html lang="en">
    {% include "V1_Head_ACCEUIL.html" %}
    <body>
        <div class="preloader">
            {% block preloader %}
            {% endblock %}  
        </div>
        {% include "V1_MENU.html" %}
        <header id="intro">
            {% block intro %}
            {% endblock %}
        </header>
        <section>
            {% block section %}
            {% endblock %}
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-center-mobile">
                        <h3 class="white">Solution Imaging ICAN</h3>
                        <h5 class="light regular light-white">Système de suivi et de téléversement de donnée IRM</h5>
                        <img src="{% static 'V1/img/logo_ican_p.png' %}" alt="ICAN Logo">
                    </div>
                    <div class="col-sm-6 text-center-mobile">
                        <h3 class="white">Heure d'ouverture <span class="open-blink"></span></h3>
                        <div class="row opening-hours">
                            <div class="col-sm-6 text-center-mobile">
                                <h5 class="light-white light">Mon - Fri</h5>
                                <h3 class="regular white">9:00 - 18:00</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bottom-footer text-center-mobile">
                    <div class="col-sm-8">
                        <p>&copy; 2021 All Rights Reserved. Exclusively for <a href="http://www.ican-institute.org/">ICAN</a></p>
                    </div>
                    <div class="col-sm-4 text-right text-center-mobile">
                        <ul class="social-footer">
                            <li><a href="https://www.facebook.com/IHUICAN/"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/ihu-ican-b48b02115/"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="https://twitter.com/ican_institute?lang=fr"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Holder for mobile navigation -->
        <div class="mobile-nav">
            <ul>
            </ul>
            <a href="#" class="close-link"><i class="arrow_up"></i></a>
        </div>
        <!-- Scripts -->
        <script src="{% static 'V1/js/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'V1/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'V1/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'V1/js/wow.min.js' %}"></script>
        <script src="{% static 'V1/js/typewriter.js' %}"></script>
        <script src="{% static 'V1/js/jquery.onepagenav.js' %}"></script>
        <script src="{% static 'V1/js/main.js' %}"></script>
        <script src="{% static 'V1/js/table_scroll.js' %}"></script>
        <!-- old -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap Datatable js -->    
        <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
        <script type="text/javascript">
            function JSconfirm(){
              swal({
                title: "RGPD",
                text: "Cette application a pour but de stocker des données de recherche. Pour cela elle doit respecter la RGPD et les directives législatives en vigueur. En validant, vous vous engagez à ne charger via cette application uniquement des images pseudo-anonymisées",
                icon: "warning",
                buttons: ["Refuser", "Accepter"],
                dangerMode: true,
              })
            .then((willDelete) => {
              if (willDelete) {
                swal("Votre chargement est accepté", {
                icon: "success",
                });
                let progress = document.getElementById('progressbar')
                if(getComputedStyle(divprogress).display != "none"){
                  divprogress.style.display = "none";
                } else {
                  divprogress.style.display = "block";
                }
                document.forms.form_upload.submit();
              } else {
                swal("Votre chargement est annulé");
              }
            });
      
            }
            var y = document.getElementByClass("preloader");
            window.onload = function(){
                y.style.display = "none";
            }

            function formContact() {
                var x = document.getElementById("formContact");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
      }
      </script>     
    </body>
    
    </html>