{% extends "V1_BASES_FORMULAIRE.html" %}
{% load static %}
{% load bootstrap4 %}
{% block preloader %}
<img src="{% static 'V1/img/loader.gif' %}" alt="Preloader image">
{% endblock %}
{% block intro %}
<div class="container">
    <div style="padding-top: 20%;">
        <div class="header-text">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="row text-center">
                        <div class="container">
                            <h2 class="display-3 light white">Contacts</h2>
                            {% if user.is_staff or "Administrateur service" in request.session.groups or "Collaborateurs" in request.session.groups %}
                                <div class="row justify-content-center"><button onclick="formContact()" class="btn btn-sm btn-outline-secondary" ><h6 class="light white">Créer un contact</h6></button></div>
                            {% endif %}
                                </div>
                        </div>
                        <div  id="formContact" style='display:none; padding: 20px;'>
                            <form action="/contact/new/" method="post" class="was-validated border border-primary mb-2 mt-2 justify-content-center">
                                <div class="form-group">
                                    {% csrf_token %}
                                    {% bootstrap_form form form_group_class='form-group m-2' %}
                                </div>
                                {% buttons %}
                                    <button type="submit" class="btn btn-primary d-flex m-3" name="login">Ajouter</button>
                                {% endbuttons %}
                            </form>
                        </div>
                        <div class="row text-center" style='padding: 10px;'>
                            <table class="table table-striped">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-center" scope="col">Prénom</th>
                                        <th class="text-center" scope="col">Nom</th>
                                        <th class="text-center" scope="col">Courriel</th>
                                        <th class="text-center" scope="col">Téléphone</th>
                                        <th class="text-center" scope="col">Poste</th>
                                        {% if user.is_staff %}
                                        <th class="text-center" scope="col">Actions</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if resultat %}
                                        {% for item in resultat %}
                                            <tr class="text-center">
                                                <td>{{ item.prenom }}</td>
                                                <td>{{ item.nom }}</td>
                                                <td>{{ item.courriel }}</td>
                                                <td>{{ item.telephone }}</td>
                                                <td>{{ item.poste }}</td>
                                                {% if user.is_staff %}
                                                <td>
                                                    <div class="container-fluid">
                                                        <div class="row d-flex justify-content-center">
                                                            <div class="col-lg-4 mx-auto">
                                                                <a role="button" class="btnM btn-blue-fill" href="/contact/edit/{{item.id}}/"><p class="text-warning">EDITER</p></a>
                                                            </div>
                                                            <div id="supprContact" class="col-lg-4 mx-auto">
                                                                <a role="button" class="btnM btn-blue-fill" value="{{item.id}}"><p class="text-danger">SUPPR.</p></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>Aucune donnée renseignée</tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block section %}
<div class="cut cut-top"></div>
{% endblock %}